@import "common.css";
body{
	padding: 0;
	margin:0;
}

.hide{
	display: none;
}
.flexBox{
	display: flex;
	align-items: center;
}
.flex1{
	flex: 1;
}
.center{
	text-align: center;
}
.icon{
	height: 40px;
	width: 40px;
}
.bold{
	font-weight: bold;
}
.amap-logo,.amap-copyright{
	display: none !important;
	visibility: hidden !important;
}
.nextStep{
	position: fixed;
	bottom:0;
	left: 0;
	height:98px;
	line-height:98px;
	width:100%;
	text-align:center;
	font-size:40px;
	color:white;
}
.nextStepEnable{
	background:var(--backlg);
}
.nextStepdisable{
	background:#CCCCCC;
}